@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
/* .bg-main{
background-color: rgba(30, 30, 30, 1);
} */

header{
max-width: 1160px;
margin: 0 auto;
}

.display-flex{
display: flex;
}

/* Nav Bar Styles */
.school-start h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-left: 11px;
    align-content: center;
}

.school-middle ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.school-middle ul>li>a{
    text-decoration: none;
}

.home{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}

.abt{
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

.faci{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

.admi{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn{
    border: 1px solid #FEA301;
    background-color: #FEA301;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
}

.school-end img{
    max-width: 30px;
    width: 100%;
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navbar - Responsive For Mobile */
@media screen and (max-width: 576px) {
    .school-start>h3, .school-middle>ul, .nav-btn{
        display: none;
    }
    .school-end img{
        display: block;
    }
}