@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
header{
max-width: 1160px;
margin: 0 auto;
}

.display-flex{
display: flex;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.card-btn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: white;
}

footer{
    background-color: #01ACFD;
}

/* Nav Bar Styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.school-start h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-left: 11px;
    align-content: center;
}

.school-middle ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.school-middle ul>li>a{
    text-decoration: none;
}

.home{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}

.abt{
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

.faci{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

.admi{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn{
    border: 1px solid #FEA301;
    background-color: #FEA301;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
}

.school-end img{
    max-width: 30px;
    width: 100%;
    display: none;
}

/*Navbar - Responsive For Mobile */
@media screen and (max-width: 576px) {
    .nav-container{
        border: 1px solid #FEA301;
        padding: 10px 15px;
    }
    .school-start>h3, .school-middle>ul, .nav-btn{
        display: none;
    }
    .school-end img{
        display: block;
    }
}

/* banner styles */
.banner-content{
    width: 50%;
}

.banner-content h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.empo{
    color: #FEA301;
}

.vision{
    color: #01ACFD;
}

.banner-content p{
    /* width: 75%; */
    font-weight: 1.25rem;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn-banner{
    border: 1px solid black;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 47px;
}

.banner-image img{
    width: 100%;
}

.banner{
    margin-top: 20px;
    gap: 120px;
    align-items:center;
    padding-left: 15px;
    padding-right: 15px;
}

/* Banner Responsive for mobile */
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .banner-content{
        width: auto;
        text-align: center;
        justify-content: center;
    }
    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content p{
        font-size: 0.875rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* main sections styles */
/* main{
    background-image: url('/assets/bg.png');
    background-size: auto;
} */

/* curriculum section */
.curriculum{
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.curriculum-container{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.curriculum h2{
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 28px; */
}

.card-properties{
    border-radius: 18px;
    width: 250px;
    height: 360px;
    justify-items: center;
    text-align: center;
    padding: 45px;
}

.card-1{
    border: 1px solid rgba(222, 245, 255, 1);
    background: linear-gradient(#DEF5FF,#FFFFFF 40%);
}

.card-2{
    border: 1px solid rgba(255, 244, 220, 1);
    background-image: linear-gradient(#FFF4DC,#FFFFFF 40%);
}

.card-3{
    border: 1px solid rgba(242, 232, 255, 1);
    background-image: linear-gradient(#F2E8FF,#FFFFFF 40%);
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px auto 20px auto;
}

.card-description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    padding-bottom: 25px;
}

.readm-1{
    color: rgba(100, 200, 255, 1);
}

.readm-2{
    color: rgba(240, 170, 0, 1);
}

.readm-3{
    color: rgba(135, 0, 255, 1);
}

.arrow{
    width: 120px;
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 520px;
    margin-bottom: 50px;
}

.arrow img{
    max-width: 100%;
}

/* Standard Curriculum Section Responsive */
@media screen and (max-width: 576px){
    .curriculum-container{
        max-width: 576px;
        margin: 0 auto;
    }
    .card-container{
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }   
    .curriculum h2{
        font-size: 1.625rem;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .card-properties{
        border-radius: 12px;
        width: 300px;
        height: 300px;
        padding: 35px;
    }
    .curriculum h2{
        font-size: 1.625rem;
        font-weight: 700;
    }
    .card-title{
        font-size: 1rem;
        font-weight: 700;
    }
    .card-description{
        font-size: 0.64rem;
        font-weight: 500;
    }   
    .arrow{
        display: none;
    }
}

/* Our-Stories section related styles */

.our-stories{
    background-image: url('/assets/bg.png');
    background-color: linear-gradient(to top, #fbf0d9 20%, white 80%);
    background-repeat: no-repeat;
    background-image: contain;
}

.our-stories-container{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.story-cards{
    display: flex;
    gap: 15px;
    padding-bottom: 50px;
}

.our-stories h2{
    padding-bottom: 80px;
    padding-top: 60px;
}

.story-card-1{
    max-width: 33.76rem;
}

.story-image-1{
    position: relative;
}
.story-image-1 img{
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.story-text-1{
    /* width: 540px; */
    border: 1px solid white;
    background-color: white;
    text-align:start;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.story-text-1 h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 3rem;
}

.story-text-1 p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    padding: 10px 45px 45px;
    line-height: 25pt;
}

.btn-story-1{
    border: 1px solid #3CD8E8;
    background-color:#3CD8E8 ;
    border-radius: 45px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 18px;
    position: absolute;
    left: 35px;
    top: 310px;
}

/* mini story cards styles */
.mini-story-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.story-card-2{
    max-width: 290px;
    /* min-height: 300px; */
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.story-card-2 img{
    max-width: 100%;
}

.story-card-title{
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 20pt;
    text-align: left;
    padding: 1.25rem 2rem;
}

.btn-story-2{
    border: 1px solid #95B226;
    background-color: #95B226;
    border-radius: 45px;
    padding: 10px 18px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    left: 25px;
    top: 155px;
}

.story-image-2 img{
    /* max-width: 100%; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-story-4{
    border: 1px solid #5D58F0;
    background-color: #5D58F0;
    border-radius: 45px;
    padding: 10px 18px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    left: 25px;
    top: 162px;
}

.btn-view-all{
    border: 1px solid black;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 50px;
    margin-bottom: 2rem;
}

/* Our Stories Section - Responsive */
@media screen and (max-width: 576px) {
/* .our-stories-container{
    margin: 0 auto;
} */
.story-card-1{
    display: none;
}
.story-card-2{
    max-width: 300px;
    margin: 5px auto;
}
.story-card-2 img{
    max-width: 100%;
}
.mini-story-cards{
    grid-template-columns: repeat(2, 1fr);
}
.our-stories-container h2{
font-size: 1.625rem;
padding-top: 40px;
padding-bottom: 20px;
}
.btn-story-2, .btn-story-4{
    border-radius: 28px;
    padding: 5px 8px;
    color: white;
    font-size: 0.6rem;
    font-weight: 500;
    position: absolute;
    left: 25px;
    top: 115px;
}
.story-card-title{
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 15pt;
    text-align: left;
    padding: 1.25rem 2rem;
}
}


/* footer styles */
.footer-title{
    justify-content:start;
    align-items:center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30pt;
}
.footer-description{
    font-size: 1.25rem;
    color: white;
    max-width: 25rem;
    text-align: start;
    padding-top: 25px;
}

.footer-abt-title{
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.footer-abt>ul li{
    list-style: none;
    padding-top: 1rem;
}

.footer-abt>ul>li>a{
    text-decoration: none;
    color: white;
}

.footer-end p{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 1rem;
}

.icono{
    justify-content: space-evenly;
}

.footer-container{
    padding-top: 120px;
    padding-bottom: 170px;
    display: flex;
    justify-content: space-around;
    align-items:normal;
}

/* Footer responsive*/
@media screen and (max-width: 576px){
    .footer-container{
        flex-direction: column;
    }
    .footer-description{
        max-width: 16rem;
    }
}