@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
header{
max-width: 1160px;
margin: 0 auto;
}

.display-flex{
display: flex;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.card-btn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

/* Nav Bar Styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.school-start h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-left: 11px;
    align-content: center;
}

.school-middle ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.school-middle ul>li>a{
    text-decoration: none;
}

.home{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 700;
}

.abt{
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}

.faci{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}

.admi{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn{
    border: 1px solid #FEA301;
    background-color: #FEA301;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
}

.school-end img{
    max-width: 30px;
    width: 100%;
    display: none;
}

/*Navbar - Responsive For Mobile */
@media screen and (max-width: 576px) {
    .nav-container{
        border: 1px solid #FEA301;
        padding: 10px 15px;
    }
    .school-start>h3, .school-middle>ul, .nav-btn{
        display: none;
    }
    .school-end img{
        display: block;
    }
}

/* banner styles */
.banner-content{
    width: 50%;
}

.banner-content h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.empo{
    color: #FEA301;
}

.vision{
    color: #01ACFD;
}

.banner-content p{
    /* width: 75%; */
    font-weight: 1.25rem;
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn-banner{
    border: 1px solid black;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 47px;
}

.banner-image img{
    width: 100%;
}

.banner{
    margin-top: 20px;
    gap: 120px;
    align-items:center;
    padding-left: 15px;
    padding-right: 15px;
}

/* Banner Responsive for mobile */
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .banner-content{
        width: auto;
        text-align: center;
        justify-content: center;
    }
    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content p{
        font-size: 0.875rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* main sections styles */
main{
    max-width: 1160px;
    margin: 0 auto;
}

/* curriculum section */
.curriculum{
    background-image: url('/assets/bg.png');
    text-align: center;
}

.curriculum h2{
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 28px; */
}

.card-properties{
    border-radius: 18px;
    width: 250px;
    height: 400px;
    justify-items: center;
    text-align: center;
    padding: 45px;
}

.card-1{
    border: 1px solid rgba(222, 245, 255, 1);
    background-image: linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 0));
}

.card-2{
    border: 1px solid rgba(255, 244, 220, 1);
    background-image: linear-gradient(rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
}

.card-3{
    border: 1px solid rgba(242, 232, 255, 1);
    background-image: linear-gradient(rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px auto 20px auto;
}

.card-description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    padding-bottom: 25px;
}

.readm-1{
    color: rgba(100, 200, 255, 1);
}

.readm-2{
    color: rgba(240, 170, 0, 1);
}

.readm-3{
    color: rgba(135, 0, 255, 1);
}

.arrow{
    width: 120px;
    display: flex;
    gap: 10px;
    margin-left: 495px;
    margin-bottom: 50px;
}

.arrow img{
    max-width: 100%;
}

/* Standard Curriculum Section Responsive */
@media screen and (max-width: 576px){
    .card-container{
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }   
    .curriculum h2{
        font-size: 1.625rem;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .card-properties{
        border-radius: 12px;
        width: 300px;
        height: 300px;
        padding: 35px;
    }
    .curriculum h2{
        font-size: 1.625rem;
        font-weight: 700;
    }
    .card-title{
        font-size: 1rem;
        font-weight: 700;
    }
    .card-description{
        font-size: 0.64rem;
        font-weight: 500;
    }   
    .arrow{
        display: none;
    }
}